<div class="row">
    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Live blockchain data</h5>

            <p class="light">See real time transactions from Blockchain and check out informations about it. Real time processing is made with Spark Streaming technology</p>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">grain</i></h2>
            <h5 class="center">Graph view of Transactions</h5>
            <p class="light">Visit all transactions in interactive mode. Find all connected nodes of Blockchain and discover all bitcoins spent. Make analysis by Page Rank algorithms</p>
        </div>
    </div>
</div>
