<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Antonio Riccardi</h5>
            <p class="grey-text text-lighten-4">Programmer....</p>


        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Pages</h5>
            <ul>
                <li><a class="white-text" href="/">Home</a></li>
                <li><a class="white-text" href="/livedata">Live data</a></li>
                <li><a class="white-text" href="/lastGraph">Graph viewer</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
                <li><a class="white-text" href="#!">Facebook</a></li>
                <li><a class="white-text" href="#!">Linkedin</a></li>
                <li><a class="white-text" href="#!">Twitter</a></li>
                <li><a class="white-text" href="#!">Google+</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        Made with <i class="material-icons tiny">favorite</i> by <a class="orange-text text-lighten-3" href="#"> Antonio Riccardi </a>
    </div>
</div>