<table class="table striped" id="realTimeTransactions">
    <thead>
        <tr>
            <td>Transaction hash</td>
            <td>Value Out</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    initializeTable();
</script>